<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>java类库搜索系统</title>
<script type="text/javascript" language="javascript" src="include/jquery-1.5.min.js"></script>
<link href="skin/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="clearit"></div>	
<div class="menubar"><!-- div menubar -->

    <ul>
        <li class="menustart"><a href="${base?default(" ")}/">Home</a></li>
        <li><a href="${base?default(" ")}/">关于</a></li>
        <li class="menuend"></li>
    </ul>
</div><!-- div menubar -->
<div class="header"><!-- div header -->	
	<div class="headertitle"><!-- div headertitle -->
		<h1 style="margin-top:30px;"><a href="${base?default(" ")}/">java类库搜索系统</a></h1>
	</div><!-- /div headertitle -->
</div><!-- div header -->

<div class="contentbg">
    <div class="content">


