<#include "cp_header.html">
    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="2" class="nowtable" height="31" align="center">
                    <thead>		
                        <td width="10%">ID</td>
                        <td>协议名称</td>
                        <td width="40%" colspan="4">操作</td>
                    </thead>
                   <#list licenses as license>
                        <#if license_index % 2 == 0>
                        <tr>
                            <td>${license.id}</td>
                            <td style="text-align:left">${license.title}</td>
                            <td width="10%"><a href="license-edit.do?id=${license.id}">编辑</a></td>
                            <td width="10%"><a href="license-recover.do?id=${license.id}">恢复</a></td>
                            <td width="10%"><a href="license-delete.do?id=${license.id}">彻底删除</a></td>
                        </tr>
                        <#else>
                        <tr>
                            <td bgcolor="#f2f2f2">${license.id}</td>
                            <td bgcolor="#f2f2f2" style="text-align:left">${license.title}</td>
                            <td bgcolor="#f2f2f2"><a href="license-edit.do?id=${license.id}">编辑</a></td>
                            <td bgcolor="#f2f2f2"><a href="license-recover.do?id=${license.id}">恢复</a></td>
                            <td bgcolor="#f2f2f2"><a href="license-delete.do?id=${license.id}">彻底删除</a></td>
                        </tr>
                    	</#if>
                    </#list>
        
				</table>
                <table width="100%" border="0" cellspacing="0" cellpadding="2" height="31" align="center">
                	<tr>
                    	<td height="20"></td>
                    </tr>
                	<tr>
                    	<td>
                        	<@t.PaginationBar pagination=pagination url="license-trash.do" count=6/>
                        </td>
                	</tr>
                </table>
			</td>
		</tr>
	</table>                        
<#include "cp_footer.html">