<#macro PaginationBar pagination url count=4>
	<div class="pagination_bar">
		<#if !(url?contains(".do?")) ><#assign url_ = url+"?1=1"></#if>
		<#if pagination?? && pagination?length gt 10 && pagination.tatolPage gt 1>
		    <a class="pagination_pagecount">共${pagination.tatolPage}页</a>
		    <a href="${url_}" class="pagination_first">首页</a>
		    <#if pagination.now gt count>
			    <#list pagination.now-count..pagination.now-1 as i>
			    	<a href="${url_}&page=${i}" class="pagination_url">${i}</a>
			    </#list>
		    <#elseif pagination.now gt 1>
			    <#list 1..pagination.now-1 as i>
			    	<a href="${url_}&page=${i}" class="pagination_url">${i}</a>
			    </#list>
		    </#if>
		    <a href="javascript:void(0);" class="pagination_current">${pagination.now}</a>
		    <#if pagination.tatolPage-count gt pagination.now>
				<#list pagination.now+1..pagination.now+count as i>
					<a href="${url_}&page=${i}" class="pagination_url">${i}</a>
				</#list>
		    <#elseif pagination.tatolPage gt pagination.now>
				<#list pagination.now+1..pagination.tatolPage as i>
					<a href="${url_}&page=${i}" class="pagination_url">${i}</a>
				</#list>
		    </#if>
		    <a href="${url_}&page=${pagination.tatolPage}" class="pagination_last"> 尾页</a>  
		    <a class="pagination_count">共${pagination.tatolCount}项</a>
		</#if>
	</div>
</#macro>
